@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #ffaf00, #bb02ff);
  background-attachment: fixed;
  /* background-attachment : 배경 이미지를 뷰포트 내에서 고정할지, 아니면 자신의 컨테이닝 블록과 함께 스크롤할지 지정 */
}
.container {
  position: relative;
  width: 1150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;  
  /* flex-wrap: wrap : 화면 크기를 줄였을 때 이미지 잘림 현상 방지 */
}
.container .card {
  position: relative;
  width: 300px;
  height: 420px;
  background: #fff;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0,0,0,.2);
  transition: .5s;
}
.container:hover .card {
  filter: blur(20px);
  transform: scale(.9);
  /* transform: scale : 요소의 크기를 0.9배시킴 */
  opacity: .5;
}
.container .card:hover {
  filter: blur(0px);
  transform: scale(1.1);
  opacity: 1;
}
.container .card .circle {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: circle(180px at center 0);
  text-align: center;
  /* text-align : 텍스트의 정렬 방향을 의미 */
}
.container .card .circle h2 {
  color: #fff;
  font-size: 4.5em;
  padding: 30px 0;
}
.container .card .content {
  position: absolute;
  bottom: 10px;
  page-break-after: 20px;
  text-align: center;
}

.container .card .content p {
  color: #666;
}

.container .card .content a {
  position: relative;
  padding: 10px 20px;
  display: inline-block;
  /* <a>태그는 inline 요소기 때문에 padding 값 적용을 위해 inline-block 변환 */
  /* inline-block 은 inline 과 block 의 특성을 모두 가짐 */
        /* 줄바꿈이 이루어지지 않는다. */
        /* block처럼 width와 height를 지정 할 수 있다. */
        /* 만약 width와 height를 지정하지 않을 경우, inline과 같이 컨텐츠만큼 영역이 잡힌다. */
  background: #000;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  margin-top: 20px;
}
.container .card:nth-child(1) .circle,
.container .card:nth-child(1) .content a {
  background: #ffaf00;
}
.container .card:nth-child(2) .circle,
.container .card:nth-child(2) .content a {
  background: #da2268;
}
.container .card:nth-child(3) .circle,
.container .card:nth-child(3) .content a {
  background: #bb02ff;
}
